
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Pagina Principal</title>
</head>
<body>
    <h1>
        Intro a HTML

    </h1>
    <u1>
        <li> Item1</li>
        <li> Item2</li>
        <li> Item3</li>

    </u1>

    <p>
        texto del parrafo

    </p>
    <p>
        texto del parrafo

    </p>
    <span>Texto Span | </span>
    <span>Texto Span </span>


</body>
</html>
